---
import ButtonGradient from "@/assets/svg/ButtonGradient";
import Header from "@/components/Header";
import Hero from "@/components/Hero.astro";
import Benefits from "@/components/Benefits.astro";
import Layout from "@/layouts/Layout.astro";
import Collaboration from "@/components/Collaboration.astro";
import Services from "@/components/Services.astro";
import Pricing from "@/components/Pricing.astro";
import Roadmap from "@/components/Roadmap.astro";
---

<Layout title="Brainwave">
  <>
    <div class="pt-[4.75rem] lg:pt-[5.25rem] overflow-hidden">
      <Header client:only="react" />
      <Hero />
      <Benefits />
      <Collaboration />
      <Services />
      <Pricing />
      <Roadmap />
    </div>
    <ButtonGradient />
  </>
</Layout>

<style></style>
